.block-language-functionplot {
    display: flex !important;
    justify-content: center;
    transform: scale(1.34); 
    transform-origin: top center; 
    width: 100%;
    max-width: 100%;
    height: auto;
}

.block-language-functionplot svg {
    height: 500px; 
}